body{
  text-align: center;
  margin: 0;
}
.nav{
  background-color: aquamarine;
  margin: 0;
  padding: 10px 10px;
}
.container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}